
<h1>ポートフォリの削除　編集画面</h1>

  <% @portfolios.each do |portfolio| %>
    <div>
      <h2><%= portfolio.title %></h2>
      <p><%= portfolio.content %></p>
      <%= link_to '詳細ページへ', portfolio_path(portfolio) %>
      
    </div>
  <% end %>



<%= link_to 'ポートフォリを投稿する', new_portfolio_path %>
<%= link_to 'TOP', pages_path %>
