<html>
<head>
  <link rel="stylesheet" href="/assets/page_new.css">
</head>
<body>
  <div class="left">
<%= link_to '戻る', portfolios_path, class: "btn_05" %>
  </div>
  <h1 class="sample">ポートフォリオ編集</h1>
  <div class="container">
<%= form_with(model: @portfolio, url: portfolio_path(@portfolio), method: :patch, local: true, data: { turbo:false }) do |form| %>
<div class="Form-Item">
        <p class="Form-Item-Label"><span class="Form-Item-Label-Required">必須</span> 題名</p>
        <%= form.text_field :title, class: "Form-Item-Input" %>
      </div>

      <div class="Form-Item">
        <p class="Form-Item-Label"><span class="Form-Item-Label-Required">必須</span> 内容</p>
        <%= form.text_area :content, class: "Form-Item-Input" %>
      </div>
      <div class="Form-Item">
        <p class="Form-Item-Label isMsg"><span class="Form-Item-Label-Required">必須</span> 画像</p>
        <%= form.file_field :image %>
      </div>
       <%= form.submit "更新する", class: "btn_03 Form-Btn" %>
    <% end %> 
  </div>
</body>
</html>






