<!-- 
     隠してBasic認証を使いページに行かせないよう
     change とCSS同じ
-->
<html>
<head>
  <link rel="stylesheet" href="/assets/page_new.css">
</head>
  <!-- ブログ投稿-->
<body>
  <div class="left">
  <%= link_to 'TOPへ', portfolios_path, class: "btn_05" %>
  </div>

  <h1 class="sample">ポートフォリオ投稿</h1>
  <div class="container">
    <%= form_with(model: @portfolio, url: portfolios_path, method: :post, local: true, data: { turbo: false }) do |form| %>
      
      <div class="Form-Item">
        <p class="Form-Item-Label"><span class="Form-Item-Label-Required">必須</span> タイトル</p>
        <%= form.text_field :title, class: "Form-Item-Input", placeholder: "タイトルを入力してください" %>
      </div>

      <div class="Form-Item">
        <p class="Form-Item-Label"><span class="Form-Item-Label-Required">必須</span>仕様</p>
        <%= form.text_area :content, class: "Form-Item-Input", placeholder: "内容を記入ください" %>
      </div>

      <div class="Form-Item">
        <p class="Form-Item-Label isMsg"><span class="Form-Item-Label-Required">必須</span> 画像</p>
        <%= form.file_field :image %>
      </div>

       <%= form.submit "投稿する", class: "btn_03 Form-Btn" %>

    <% end %> 
  </div>
</body>
</html>
