<!-- app/views/portfolios/new.html.erb -->

<h1>作品投稿</h1>

<%= form_with(model: @portfolio, url: portfolios_path, method: :post, local: true) do |form| %>
  <% if @portfolio.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@portfolio.errors.count, "error") %> prohibited this portfolio from being saved:</h2>
    </div>
  <% end %>

  <div class="field">
    作品名
    <%= form.text_field :title %>
  </div>

  <div class="field">
    概要
    <%= form.text_area :content %>
  </div>

  <div class="field">
    画像
    <%= form.file_field :image %>
  </div>

  <div class="actions">
    <%= form.submit "投稿する" %>
  </div>
<% end %>

<%= link_to '戻る', portfolios_path %>
