<h1><%= @portfolio.title %></h1>
<p><%= @portfolio.content %></p>
<% if @portfolio.image.attached? %>
          <%= image_tag url_for(@portfolio.image) %>
          <% end %>
      </div>

      

<%= link_to 'Edit', edit_portfolio_path(@portfolio) %>

<%= link_to '削除', portfolio_path(@portfolio.id), data: { turbo_method: :delete } %>

<%= link_to 'Back', portfolios_path %>
