<!-- 
     隠してBasic認証を使いページに行かせないよう
-->


<!-- app/views/pages/blog.html.erb -->
<html>
<head>
  <link rel="stylesheet" href="/assets/page_branch.css">

</head>
<body>
<div class="container">
  <ul>
  <li><%= link_to 'ブログを投稿', new_page_path, data: { turbo: false }, class: "btn_05"  %></li>
  <li><%= link_to 'ポートフォリオ投稿', new_portfolio_path, data: { turbo: false }, class: "btn_05"  %></li>
  <li><%= link_to 'ブログ編集', change_pages_path, data: { turbo:false }, class: "btn_05"  %></li>
  <li><%= link_to 'ポートフォリオ編集', change_portfolios_path, data: { turbo:false }, class: "btn_05"  %></li>
</ul>
<%= link_to 'TOP', pages_path, class: "btn_05" %>
</div >
</body>
</html>



