<!-- 
     隠してBasic認証を使いページに行かせないよう
     ポートフォリを作成画面へ飛ぶパスを通す
     投稿を削除する方法を考える
     ここに書く投稿の詳細に飛ぶページから削除、編集
-->

<ul>
  <li><%= link_to 'ブログを投稿', new_page_path, data: { turbo: false } %></li>
  <li><%= link_to 'ポートフォリオ投稿', new_portfolio_path, data: { turbo: false } %></li>



  <li><%= link_to 'ブログ編集', change_pages_path, data: { turbo:false } %></li>
  <li><%= link_to 'ポートフォリオ編集', change_portfolios_path, data: { turbo:false } %></li>
</ul>
<%= link_to 'TOP', pages_path %>