<!-- app/views/pages/change.html.erb -->
<h1>ブログの削除　編集画面</h1>

<% @pages.each do |page| %>
  <div>
    <h2><%= page.title %></h2>
    <p><%= page.content %></p>
    <%= link_to '詳細ページへ', page_path(page) %>
  </div>
<% end %>

<%= link_to 'ブログを投稿ページ', new_page_path %>
<%= link_to 'TOP', pages_path %>
