<!-- app/views/pages/edit.html.erb -->

<h1>Edit Page</h1>

<%= form_with(model: @page, url: page_path(@page), method: :patch, local: true, data: { turbo:false }) do |form| %>
  

  <div class="field">
    タイトル
    <%= form.text_field :title %>
  </div>

  <div class="field">
    内容
    <%= form.text_area :content %>
  </div>

  <div class="field">
    画像
    <%= form.file_field :image %>
  </div>

  <div class="actions">
    <%= form.submit "更新する" %>
  </div>
<% end %>

<%= link_to '戻る', pages_path %>
