<!--隠して　Basic認証を使いページに行かせないようにする　追加でログイン機能の追加も考える　 -->
<%= link_to '投稿ページ', new_page_path %>


<%= link_to '制作物', works_pages_path %>
<%= link_to 'ご連絡', contact_pages_path %>

  <h2>プロフィール</h2>

<ul>
  <h2 >プロフィール</h2>
  <li >2022年10月よりPythonを独学で勉強</li>
  <li >2023年10月よりテックキャンプ入学（Ruby,Ruby on Rails勉強）</li>
  <li >2023年10月,Ruby,Ruby on Rails,MySQLを使用しメモアプリを作成</li>
  <li >2024年1月,本を自動選択アプリのプロトタイプをリリース</li>
</ul>
<div >
  <h2>名前:吉田将貴</h2>
  <h2>趣味：プログラミング、読書、旅行</h2>
  <h2>所在:埼玉市内</h2>
  <h2>スキル</h2>
  <ul>
    <li>HTML</li>
    <li>CSS</li>
    <li>Ruby</li>
  </ul>
  <h2>連絡先</h2>
  <p>x303y0853@gmail.com</p>
</div >



















  <!--元のindex 
<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>ホームページ</title>

  <link rel="stylesheet" href="css/index.css">
  -->
  <!-- どこでも使う 
  <link rel="stylesheet" href="./css/style.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Aoboshi+One&family=Noto+Sans+JP&family=Whisper&display=swap" rel="stylesheet">
</head>
<body>
  <header>
    <div class="contain flex">
      <a href="index.html" class="pop flex">
        Experience must be bought
      </a>
      <nav>
        <ul class="pop flex">
          <li><a href="About.html">About</a></li>
          <li><a href="works.html">Works</a></li>
          <li><a href="blog.html">Blog</a></li>
          <li><a href="Contact.html">Contact</a></li>
        </ul>
      </nav>
    </div>
<%= link_to 'New Page', new_page_path %>
<%= link_to 'works', works_pages_path %>
<%= link_to 'contact', contact_pages_path %>
  </header>
  <main>
    <img src="images/main.png" alt="メイン画像" class="mainimg">
  </main>
  <footer></footer>
</body>
</html>
<main>
</main>
<footer></footer>
</body>
</html>
-->