<!-- app/views/pages/blog.html.erb -->
<html>
<head>
  <%= stylesheet_link_tag 'page_index' %>
</head>
<body>
  <!--隠してBasic認証を使いページに行かせないようにする追加でログイン機能の追加も考える　 -->

<div class="container">
<%= link_to 'ブログ', works_pages_path, class: "btn_05" %>
<%= link_to 'お問い合わせ', contact_pages_path, class: "btn_05"  %>
<%= link_to 'ポートフォリオ', portfolios_path, class: "btn_05"  %>
</div >


<ul>
  <h1 class="sample">プロフィール</h1>
  <li  class="center">2022年10月よりPythonを独学で勉強</li>
  <li  class="center">2023年10月よりテックキャンプ入学（Ruby,Ruby on Rails勉強）</li>
  <li  class="center"> 2023年10月,Ruby,Ruby on Rails,MySQLを使用しメモアプリを作成</li>
  <li  class="center">2024年1月,本を自動選択アプリのプロトタイプをリリース</li>
</ul>

<div class="right">
  <ul>
    <h1 class="show" >詳細</h1>
    <li >名前:吉田将貴</li>
    <li >趣味：プログラミング、読書、旅行</li>
    <li >所在:埼玉市内</li>
  </ul>
  <ul>
    <h1 class= "show" ><%= link_to 'スキル', branch_pages_path, class: "no" %></h1>
    <li >HTML</li>
    <li >CSS</li>
    <li >Ruby</li>
     <li >Ruby on Rails</li>
  </ul>
</div >
</body>
</html>