<!--隠してBasic認証を使いページに行かせないよう -->
<!--写真を複数枚投稿可能にする -->



<!-- ブログ投稿-->
<%= form_with(model: @page, url: pages_path, method: :post, local: true) do |form| %>
  

  <div class="field">
    タイトル
    <%= form.text_field :title %>
  </div>

  <div class="field">
    内容
    <%= form.text_area :content %>
  </div>

  <div class="field">
   画像
    <%= form.file_field :image %>
  </div>

  <div class="actions">
    <%= form.submit "投稿する" %>
  </div>
<% end %>
<%= link_to 'TOP', pages_path %>