<!--隠してBasic認証を使いページに行かせないよう -->
<!--写真を複数枚投稿可能にする -->




<!-- 
     隠してBasic認証を使いページに行かせないよう
     change とCSS同じ
-->
<html>
<head>
  <link rel="stylesheet" href="/assets/page_new.css">
</head>
  <!-- ブログ投稿-->
<body>
  <div class="left">
  <%= link_to 'TOPへ', pages_path, class: "btn_05" %>
  </div>

  <h1 class="sample">ブログ投稿</h1>
  <div class="container">
    <%= form_with(model: @page, url: pages_path, method: :post, local: true, data: { turbo: false }) do |form| %>
      
      <div class="Form-Item">
        <p class="Form-Item-Label"><span class="Form-Item-Label-Required">必須</span> タイトル</p>
        <%= form.text_field :title, class: "Form-Item-Input", placeholder: "例）0月0日フレームワークについて(18文字以内でお願いします)" %>
      </div>

      <div class="Form-Item">
        <p class="Form-Item-Label"><span class="Form-Item-Label-Required">必須</span> 内容</p>
        <%= form.text_area :content, class: "Form-Item-Input", placeholder: "例）フレームワークにはたくさんの種類がある" %>
      </div>

      <div class="Form-Item">
        <p class="Form-Item-Label isMsg"><span class="Form-Item-Label-Required">必須</span> 画像</p>
        <%= form.file_field :image %>
      </div>

       <%= form.submit "投稿する", class: "btn_03 Form-Btn" %>

    <% end %> 
  </div>
</body>
</html>
