<%= link_to '編集', edit_page_path(@page) %> |
<%= link_to '削除', @page, method: :delete, data: { confirm: 'Are you sure?' } %> |
<%= link_to 'ブログ編集ページ', change_pages_path %>
<p>
  <strong>Title:</strong>
  <%= @page.title %>
</p>

<p>
  <strong>Content:</strong>
  <%= @page.content %>
</p>

<% if @page.image.attached? %>
  <%= image_tag url_for(@page.image) %>
<% end %>

<%= link_to 'Edit', edit_page_path(@page) %> |
<%= link_to 'Delete', @page, method: :delete, data: { turbo_method: :delete,confirm: '本当に削除しますか？' } %>
<%= link_to 'ブログ編集ページ', change_pages_path %>