ブログ
<%= link_to 'プロフィール', pages_path %>
<%= link_to 'お問い合わせ', contact_pages_path %>
<%= link_to 'ポートフォリオ', portfolios_path %>

<% if @pages.any? %>
  <% @pages.each do |page| %>
    <div>
      <h2><%= page.title %></h2>
      <p><%= page.content %></p>
      <%= image_tag url_for(page.image) if page.image.attached? %>
    </div>
  <% end %>
<% else %>
  <p>投稿がありません。しばらくお待ちください</p>
<% end %>